In [11]:
import pandas as pd

In [235]:
df = pd.read_csv(r"d:\Uni\PythonProject\ParseURL\data\train_label.csv")

In [237]:
df.describe()

            url_id  isFurniture
count  1636.000000  1636.000000
mean     59.780562     0.311736
std      34.176769     0.463344
min       0.000000     0.000000
25%      20.000000     0.000000
50%      73.000000     0.000000
75%      91.000000     1.000000
max      97.000000     1.000000

In [239]:
df.head()

   url_id                         label  isFurniture
0       0     This page can't be found!            0
1       0  Explore other iconic designs            0
2       1                 Popup heading            0
3       1          Not found, error 404            0
4       1                  Where We Are            0

In [241]:
df["isFurniture"].value_counts()

isFurniture
0    1126
1     510
Name: count, dtype: int64

In [243]:
df["label"] = df["label"].str.lower().astype('str')

In [245]:
df = df.sort_values('isFurniture', ascending=False)
df = df.drop_duplicates(subset=['label'], keep='first')
df = df.sort_index().reset_index(drop=True)

In [247]:
df['label'].str.len().max()

17279

In [249]:
df[df['label'].str.len() == df['label'].str.len().max()]

     url_id                                              label  isFurniture
334      44  a user friendly website would do real good for...            0

In [251]:
df = df.drop(index=334)

In [253]:
df['label'].str.len().max()

185

In [255]:
df.reset_index(inplace=True, drop=True)

In [257]:
df[df['label'].str.len() == df['label'].str.len().max()]

     url_id                                              label  isFurniture
542      80  (if you would like a mattress just add the bed...            0

In [259]:
df.loc[542, 'label']

'(if you would like a mattress just add the bed to cart and wait for a pop up to get it at a discounted bundle price. please make sure ad blocker/pop up blocker software are deactivated)'

In [261]:
df['label'].str.len().sort_values(ascending=False)[:20]

542    185
675     92
749     91
517     90
38      89
748     87
752     86
789     85
750     84
97      84
747     83
755     83
751     82
756     82
757     81
539     75
261     72
437     72
753     70
746     68
Name: label, dtype: int64

In [263]:
df = df.drop(index=542).reset_index(drop=True)
df.describe()

            url_id  isFurniture
count  1029.000000  1029.000000
mean     60.866861     0.326531
std      33.708218     0.469172
min       0.000000     0.000000
25%      29.000000     0.000000
50%      75.000000     0.000000
75%      91.000000     1.000000
max      97.000000     1.000000

In [267]:
df['label'].str.len().sort_values(ascending=False)[-10:]

741     4
1007    4
269     4
693     4
743     4
240     3
158     3
15      3
433     3
699     3
Name: label, dtype: int64

In [269]:
df['label_len'] = df['label'].str.len()

In [275]:
df.sort_values('label_len', ascending=True)[:15]

      url_id label  isFurniture  label_len
158        9   tec            0          3
240       21   410            0          3
433       65   404            0          3
699       85   new            0          3
15         2   art            0          3
266       30  faqs            0          4
741       89  kisu            1          4
743       89  pony            1          4
114        9  home            0          4
418       59  haus            0          4
309       40  nyre            0          4
269       30  shop            0          4
359       47  more            0          4
382       53  info            0          4
1007      95  type            0          4

In [ ]:
df['isFurniture'].value_counts()

In [287]:
df.to_csv(r'D:\Uni\PythonProject\ParseURL\data\train_label_final.csv')